include ../mixins/mixins
include ../modules/modules

block vars
	- var title = "Title";
	- var colorBar = "#000"
	- var bodyClass = ''
	- var dir = './'
	- var layoutType = ''


doctype html
html
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=11")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

	title= title

	link(rel="preload", href= dir + "styles.css" as="style" onload="this.rel='stylesheet'") 
	link(rel="preload", href= dir + "css/styles.min.css" as="style" onload="this.rel='stylesheet'")
	noscript
		link(rel="stylesheet", href= dir + "styles.css")
		link(rel="stylesheet", href= dir + "css/styles.min.css")

	//=============== Favicons ===============
	link(rel="icon", type="image/png", sizes="32x32", href= dir + "img/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href= dir + "img/favicon-16x16.png")
	link(rel="apple-touch-icon" sizes="180x180" href= dir + "img/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="192x192", href= dir + "img/android-chrome-192x192.png")

	//=============== Mobile Bar Color Theme ===============	
	// Chrome, Firefox OS and Opera
	meta(name="theme-color" content= colorBar)
	// Windows Phone
	meta(name="msapplication-navbutton-color" content= colorBar)
	// iOS Safari
	meta(name="apple-mobile-web-app-status-bar-style" content= colorBar)

	body

		.wrapper

			p layout1

			include ../blocks/header/header

			block content

			include ../blocks/footer/footer

		block popups

		script(src= dir + "js/jquery-3.3.1.min.js")
		script(src= dir + "js/popper.js")
		script(src= dir + "js/bootstrap.min.js")
		block scripts
		script(src= dir + "js/common.js")

		// inject:svg
		// endinject