mixin preloader()

	.preloader(style="position: fixed; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; background-color: #1b1b1b; z-index: 500;")

		.preloader__inner

			.biglogo(style="opacity: 0;")
				svg.logo-cloud(xmlns='http://www.w3.org/2000/svg', height='83.5', width='84', xml:space='preserve', viewbox='0 0 84 83.5', y='0px', x='0px', id='Слой_1', version='1.1')

					path#cloud(d='M 3.8052917,44.125156 V 20.966323 c 0,-9.507211 7.6144843,-17.1610313 17.0728353,-17.1610313 v 0 h 42.243746 c 9.45835,0 17.072835,7.6538203 17.072835,17.1610313 v 23.158833 c 0,9.507212 -7.614485,17.161119 -17.072835,17.161032 L 32.685129,61.285905 32.685307,79.695231 8.7948278,56.270876 C 5.7089127,53.169019 3.8052917,48.878762 3.8052917,44.125156 Z')

				svg.logo-line(xmlns='http://www.w3.org/2000/svg', height='83.5', width='84', xml:space='preserve', viewbox='0 0 84 83.5', y='0px', x='0px', id='Слой_1', version='1.1')

					path#line-1(d='M 10.75,40.874997 H 73.375')
					path#line-2(d='m 10.75,40.874997 h 13.733572 l 3.889087,-8.72863 5.480078,11.578874 6.717514,-28.107495 6.805903,34.73662 5.92202,-21.478368 4.507805,11.998999 H 73.375')
