extends ../templates/_layout

block vars
	- var title = "Title";
	- var bodyClass = ''
	- var dir = './'
	- var layoutType = ''

block content

	.container

		//- .wrap.anim
		//- 	.block
		//- 	.block
		//- 	.block
		//- 	.block

		//- .wrap2.anim
		//- 	.block
		//- 	.block
		//- 	.block
		//- 	.block
		//- 	.block
		//- 	.block

		+button

		.social.i-fb

		.biglogo
			svg.logo-svg(xmlns='http://www.w3.org/2000/svg', height='83.5', width='84', xml:space='preserve', viewbox='0 0 84 83.5', y='0px', x='0px', id='Слой_1', version='1.1')

				defs#defs71
					style#style2(type='text/css').
						.st0{fill:#FFFFFF;}
						.st1{fill:url(#SVGID_1_);}
						.st2{fill:url(#SVGID_2_);}
					lineargradient#SVGID_1_(y2='36', x2='533.6441', y1='36', x1='236', gradientunits='userSpaceOnUse')
						stop#stop12(style='stop-color:#24C687', offset='0')
						stop#stop14(style='stop-color:#28C0C2', offset='1')
					lineargradient#SVGID_2_(gradienttransform='translate(0.1,-0.5)', y2='42.310101', x2='84.081398', y1='42.310101', x1='-0.1258', gradientunits='userSpaceOnUse')
						stop#stop21(style='stop-color:#24C687', offset='0')
						stop#stop23(style='stop-color:#28C0C2', offset='1')

				path#cloud(d='M 3.8052917,44.125156 V 20.966323 c 0,-9.507211 7.6144843,-17.1610313 17.0728353,-17.1610313 v 0 h 42.243746 c 9.45835,0 17.072835,7.6538203 17.072835,17.1610313 v 23.158833 c 0,9.507212 -7.614485,17.161119 -17.072835,17.161032 L 32.685129,61.285905 32.685307,79.695231 8.7948278,56.270876 C 5.7089127,53.169019 3.8052917,48.878762 3.8052917,44.125156 Z')
				path#line-1(d='M 10.75,40.874997 H 73.375')
				path#line-2(d='m 10.75,40.874997 h 13.733572 l 3.889087,-8.72863 5.480078,11.578874 6.717514,-28.107495 6.805903,34.73662 5.92202,-21.478368 4.507805,11.998999 H 73.375')


block popups

block scripts
	script(src= dir + "js/TweenMax.min.js")
	script(src= dir + "js/jquery.waypoints.min.js")
	script(src= dir + "js/jquery.drawsvg.min.js")