extends ../templates/_layout

block vars
	- var title = "Title";
	- var bodyClass = ''
	- var dir = './'
	- var layoutType = ''

block content

	.container

		p index

		+button

block popups

block scripts
	script(src= dir + "js/jquery.waypoints.min.js")