mixin icon(imgName,className)

	-var defaultClassName = ""

	if(className === undefined)
		- className = defaultClassName
	svg(class=className)
		use(xlink:href="./img/sprite.svg#" + imgName)
