.header
	font-size: 30px
	font-weight: 700
	background-color: pink

	.icon
		fill: green

.wrap
	padding: 800px 0 200px

.block
	display: inline-block
	margin: 0 20px
	position: relative
	width: 100px
	height: 100px
	border-bottom: 10px solid red
	background-color: blue
	font-size: 1.5rem