/*==================   ATOMIC STYLES   ==================*/

.db
	display: block
.dib
	display: inline-block
.dn
	display: none


.ttu
	text-transform: uppercase
.fw300
	font-weight: 300
.fw400
	font-weight: 400
.fw700
	font-weight: 700
.fsi
	font-style: italic


.pl0
	padding-left: 0
.pr0
	padding-right: 0
.prl0
	padding-right: 0
	padding-left: 0


.fll
	float: left
.flr
	float: right


.vat
	vertical-align: top
.vam
	vertical-align: middle
.vab
	vertical-align: bottom












/*==================   /ATOMIC STYLES   ==================*/